.box {
    width: 100px;
    height: 100px;
}

.up {
    position: relative;
    background-color: orange;
    left: 100px;
    top: 100px;
}

.outer {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: cornflowerblue;
}

.inner {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: salmon;
}

.fixed {
    position: fixed;
    background-color: darkviolet;
    width: 200px;
    height: 50px;
    z-index: -10;
}

.bottom {
    background-color: violet;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: lightblue;
}
