body {
    background-color: lightblue;
    font-family: "Roboto Medium";
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.with-red-font-color {
    color: red;
}

.colored-lines :nth-child(odd) {
    background-color: gainsboro;
}

.colored-lines :nth-child(even) {
    background-color: darkseagreen;
}

a:visited {
    color: indigo;
}

a:hover {
    color: green;
}

input:invalid {
    color: red;
}

@media all and (max-width: 600px) {
    body {
        background-color: yellow;
    }
}

@media all and (min-width: 600px) {
    body {
        background-color: coral;
    }
}
